name: UCR CS010C Code
on:
  pull_request:
    branches: [main]
  workflow_dispatch:

jobs:
  format:
    name: formatting
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: jason-ngn/cppformat@v2

  lint:
    name: linting
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: jason-ngn/cpplinting@v2

  build:
    name: building
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: jason-ngn/cppbuild@v2
