name: UCR CS010C Code
on:
  push:
    branches: [main]
  workflow_dispatch:

jobs:
  format:
    name: formatting
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: jason-ngn/cppformat@v3

  lint:
    name: linting
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: jason-ngn/cpplinting@v3

  build:
    name: building
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: jason-ngn/cppbuild@v3
